.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    // transform: skewX(-12deg);

    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        background-color: orangered;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

    }
    &__img {
        height: 100%;
        transition: all 0.5s all;

    }
    &__text {

    }

    &__caption {

    }

    &:hover &__caption {

    }

    &:hover &__img {

    }
}